body {
	height: 100vh;
	margin: 0;
}

.map-canvas {
	width: 100%;
	height: 100vh;
	float: right;
}

.container-fluid, .col-md-*, .panel, .panel-body {
	padding: 0;
	margin: 0;
}

.places {
	margin: 0;
	padding: 0
}

.row {

}

.top-picks, .col-md-9 {
	margin: 0;
	padding: 0;
}

#places {
	background-color: #333;
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  text-align: center;
  color: white;
  font-size: 1.2em;
  line-height: 30px;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}

.navbar {
	margin: 0;
	border-radius: 0;
}

.search {
	text-align: center;
}

.navbar-inverse {
	background-color: #333;
}