body {
	height: 100vh;
	margin: 0;
}

.map-canvas {
	width: 100%;
	height: 100vh;

}


.content {
	text-align: center;
}


.button-collapse, .map {
	top:  0px;
	left: 0px;
}

.map-canvas {
	position: absolute;

}

.button-collapse {
	position: absolute;
	z-index: 2
}

.material-icons {
	font-size: 40px;
	color: #333;
	background-color: rgba(256, 256, 256, 0.8);
	border-radius: 5px;
}

input[type=text]:not(.browser-default) {
	margin: 15px 0;
	border: 1px solid black;
	font-size: 20px;
	border-radius: 2px;
	height: 2rem;
}

.search {
	padding: 8px;
}

ul {
	margin-top: 0;
}

.side-nav li {
	line-height: 40px;
	border-top: 1px solid #ddd;
}

h4 {
	margin: 20px 0 0 0;
}

.side-nav li>a {
	display: initial;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
}

.side-nav li>a:hover {
	background-color: white;
}